@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Eğlenceye Hazır mısın?</h1>
    <h3>Sende Davetlisin</h3>
    @Html.ActionLink("Geliyor musun?","DavetiyeFormu",new{ @class="btn btn-primary"})
</div>
